@{
    Layout = null;
}
@model Resposta
<!DOCTYPE html>
<html>
    <head>
        <title>ASP</title>
    </head>
<body>
    <h1>Dados</h1>
    <div asp-validation-summary=All></div>
    <form method="post" action = "/Home/SalvarResposta" >
        <label asp-for="Nome">Nome:</label>
        <input asp-for="Nome"/>
        <label asp-for="Email">Email:</label>
        <input asp-for="Email"/>
        <label asp-for="Opcao">Qual curso você deseja?</label>
        <input asp-for="Opcao"/>
        <label asp-for="Telefone">Digite Seu Telefone: </label>
        <input asp-for="Telefone"/>
        <label asp-for="Sobrenome">Digite Seu Sobrenome: </label>
        <input asp-for="Sobrenome"/>
        <button>ENVIAR</button>
    </form>
</body>
</html>